<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joeynotjoe.linear-issue-maker</string>
	<key>connections</key>
	<dict>
		<key>3B17DD17-7838-45DF-BD85-C392E29FAF08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D095363-20D3-4FDB-8C97-BAEE3426E9E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D78555A-34C8-4100-A146-461AC2E0F2A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4379A382-45DC-4CC5-84FC-32D98E93A95A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D095363-20D3-4FDB-8C97-BAEE3426E9E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D78555A-34C8-4100-A146-461AC2E0F2A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Fields</string>
	<key>description</key>
	<string>Create new issues from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Linear Issue Maker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Created: {var:initial_query}</string>
				<key>title</key>
				<string>Issue Created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4379A382-45DC-4CC5-84FC-32D98E93A95A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python3 ./main.py "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D78555A-34C8-4100-A146-461AC2E0F2A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>li</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create a new issue in Linear</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3B17DD17-7838-45DF-BD85-C392E29FAF08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>initial_query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8D095363-20D3-4FDB-8C97-BAEE3426E9E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Workflow Name

## ReadMe

## Changelog
YYYY.MM.DD | version
	•</string>
	<key>uidata</key>
	<dict>
		<key>3B17DD17-7838-45DF-BD85-C392E29FAF08</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4379A382-45DC-4CC5-84FC-32D98E93A95A</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>7D78555A-34C8-4100-A146-461AC2E0F2A8</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>8D095363-20D3-4FDB-8C97-BAEE3426E9E0</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Key Here</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>You can create a key by going to your linear account, going into settings, and selecting API</string>
			<key>label</key>
			<string>Your API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>ID Here</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Enter Cmd-K in Linear, then search for UUID. Select Copy Model UUID, then find the team you want your issues to go to.</string>
			<key>label</key>
			<string>Your Team ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TEAM_ID</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.0.01</string>
	<key>webaddress</key>
	<string>https://github.com/mattalexanderfields</string>
</dict>
</plist>
