<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>lin_api_nCmoZGmMhmwnu6GF26aQwMJ2q97jFzeRJGVREpaX</string>
	<key>TEAM_ID</key>
	<string>21ebf514-d232-44a3-a413-aea8ff91b4ec</string>
</dict>
</plist>
