<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mattalexanderfields.linear-issue-maker</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>10CCFAEE-35B2-440D-8585-6547E567BEDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B4B4C4B-91E6-40E8-9C54-02D44AA54A14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>78C8DAA4-D603-45C4-8D26-4EE737E50FF1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45D49E96-8CBA-4DBD-97AC-206A5E413D9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B17DD17-7838-45DF-BD85-C392E29FAF08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10CCFAEE-35B2-440D-8585-6547E567BEDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45D49E96-8CBA-4DBD-97AC-206A5E413D9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D095363-20D3-4FDB-8C97-BAEE3426E9E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D78555A-34C8-4100-A146-461AC2E0F2A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB4AD685-8B6C-44E8-B0BA-6687CD550E5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D095363-20D3-4FDB-8C97-BAEE3426E9E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D78555A-34C8-4100-A146-461AC2E0F2A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB4AD685-8B6C-44E8-B0BA-6687CD550E5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4379A382-45DC-4CC5-84FC-32D98E93A95A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>78C8DAA4-D603-45C4-8D26-4EE737E50FF1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>751DCB00-1FBB-4F3D-91BE-DD6749B72F46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Fields</string>
	<key>description</key>
	<string>Create new issues from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Linear Issue Maker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://linear.app/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2B4B4C4B-91E6-40E8-9C54-02D44AA54A14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>li</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go to Linear.app</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3B17DD17-7838-45DF-BD85-C392E29FAF08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Created: {var:initial_query}</string>
				<key>title</key>
				<string>Issue Created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4379A382-45DC-4CC5-84FC-32D98E93A95A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>li</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Log an Issue</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>45D49E96-8CBA-4DBD-97AC-206A5E413D9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python3 ./main.py "$query"

if [ $? -eq 0 ]; then
    export alfred_script_status="success"
else
    export alfred_script_status="failure"
fi


echo -n "$alfred_script_status"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D78555A-34C8-4100-A146-461AC2E0F2A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>78C8DAA4-D603-45C4-8D26-4EE737E50FF1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>10CCFAEE-35B2-440D-8585-6547E567BEDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>78C8DAA4-D603-45C4-8D26-4EE737E50FF1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>fail</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DB4AD685-8B6C-44E8-B0BA-6687CD550E5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>initial_query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8D095363-20D3-4FDB-8C97-BAEE3426E9E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Not Created: {var:initial_query}</string>
				<key>title</key>
				<string>Issue Creation Failed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>751DCB00-1FBB-4F3D-91BE-DD6749B72F46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Linear Issue Maker

## Description

This Alfred workflow allows you to create backlog issues in Linear directly from Alfred. Simply enter the keyword (default is "li") followed by the issue title, and a new backlog issue will be created in your specified Linear team.

## Prerequisites

Before using this workflow, you'll need:

1. A Linear account
2. Your personal Linear API key
3. The ID of the Linear team where you want to create issues

## Configuration

### Obtaining Your API Key

1. Log in to your Linear account at https://linear.app/
2. Press "G" then "S" to open your account settings
3. Select "API" under "My Account" on the left sidebar
4. Create a new personal API key and name it as desired

### Obtaining Your Team ID

1. While logged in to Linear, press "Cmd + K" and enter "UUID" in the popup window
2. Select "Developer: Copy Model UUID..."
3. Type "team" and select the name of the team where you want to create issues

After obtaining your API key and team ID, enter them in the respective fields in the workflow configuration.

## Usage

The default keyword to trigger the workflow is "li". To create a new issue:

1. Type "li" followed by a space
2. Enter the title of the issue
3. Optionally add a priority after the title using -u, -h, -m -l for urgent, high, medium, or low
4. Press Enter

The new issue will be created as a backlog item in the specified Linear team.

## Customization

You can change the keyword by selecting the "Keyword" object in the workflow.

## Contributing

Contributions are welcome! If you'd like to contribute, please follow these steps:

1. Fork the repository
2. Create a new branch for your changes
3. Make your changes
4. Commit your changes
5. Push your changes to your forked repository
6. Submit a pull request

Clone the repo with https://github.com/mattalexanderfields/Alfred_wf_Linear.git


## Contact

If you have any questions or issues, please contact me at theseapriest@gmail.com</string>
	<key>uidata</key>
	<dict>
		<key>10CCFAEE-35B2-440D-8585-6547E567BEDB</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>2B4B4C4B-91E6-40E8-9C54-02D44AA54A14</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>3B17DD17-7838-45DF-BD85-C392E29FAF08</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4379A382-45DC-4CC5-84FC-32D98E93A95A</key>
		<dict>
			<key>xpos</key>
			<real>945</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>45D49E96-8CBA-4DBD-97AC-206A5E413D9E</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>751DCB00-1FBB-4F3D-91BE-DD6749B72F46</key>
		<dict>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>7D78555A-34C8-4100-A146-461AC2E0F2A8</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>8D095363-20D3-4FDB-8C97-BAEE3426E9E0</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>DB4AD685-8B6C-44E8-B0BA-6687CD550E5E</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Key Here</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>You can create a key by going to your linear account, going into settings, and selecting API</string>
			<key>label</key>
			<string>Your API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>ID Here</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Enter Cmd-K in Linear, then search for UUID. Select Copy Model UUID, then find the team you want your issues to go to.</string>
			<key>label</key>
			<string>Your Team ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TEAM_ID</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/mattalexanderfields</string>
</dict>
</plist>
